<div>
    <label for="Maas">Salary:</label>
    <input type="number" id="Maas" name="Calisan.Maas" class="form-control" />
</div>
<div>
    <label for="Pozisyon">Position:</label>
    <input type="text" id="Pozisyon" name="Calisan.Pozisyon" class="form-control" />
</div>
